  language: objective-c  #1
  osx_image: xcode7.3 #2
  xcode_sdk: iphonesimulator9.3 #5
 
 install:
 - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
 script:
 - set -o pipefail && xcodebuild test -workspace Example/SwipeViewController.xcworkspace -scheme SwipeViewController-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
 - pod lib lint --quick  